In [65]:
import pandas as pd
df = pd.read_csv("taxi_peru.csv", delimiter=';', encoding = "Windows-1251")
df

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,"-12,05537033","-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0
1,dd2af4715d0dc16eded53afc0e243577,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:34:00,"-12,13874817","-76,99536133",2010-06-01 00:37:00,"-12,12465668","-77,02886963",not found,NaN,NaN,NaN,iPhone,NaN,NaN
2,dd91e131888064bf7df3ce08f3d4b4ad,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-05-31 05:01:00,"-12,12453079","-77,02780151",2010-05-31 05:04:00,"-12,13883209","-76,99530029",not found,NaN,NaN,NaN,iPhone,NaN,NaN
3,dd2af4715d0dc16eded53afc0e2466d0,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:29:00,"-12,13885117","-76,99530029",2010-06-01 00:32:00,"-12,12458801","-77,02896118",not found,NaN,NaN,NaN,iPhone,NaN,NaN
4,85b7eabcf5d84e42dc7629b7d27781af,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,reserved,2010-09-11 23:55:00,"-12,08995438","-76,92626953",2010-09-12 01:07:00,"-12,02223206","-77,10638428",drop off,"-12,08311558","-76,9277072",2010-09-11 23:50:00,iPhone,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23106,4a18ea5737ce0ffecaf20b305a0e2c86,8998bb370b5f0cec43a373adebba0c72,d665fb9f75ef5d9cd0fd89479380ba78,16cbe35db7fff70fbc8251b4cda9fdc9,executive,reserved,2010-07-31 13:15:00,"-12,08974075","-77,04699707",2010-07-31 13:27:00,"-12,08352661","-77,05044556",drop off,"-12,08973527","-77,04787016",2010-07-31 13:15:00,iPhone,5.0,5.0
23107,f1e4317f2c17991dd90d1cd17ae0d399,5f8a6ffef0ea5df78a8ee890267b60ec,17c21284245ff240c7212732991c2373,716a697375634f32a06d692b0448f13d,executive,asap,2010-10-02 05:26:00,"-12,09253011","-77,02875271",2010-10-02 05:56:00,"-12,07776001","-77,05623798",drop off,"-12,10639693","-77,04028948",2010-10-02 05:39:00,Android,NaN,5.0
23108,1e44c0fd0a266c3719ff30410b257bce,c0ffb6f6cd801004dd8609c12277c2d1,4851ee4c867c9b49b909c1adb76c31e9,4851ee4c867c9b49b909c1adb76c538e,executive,asap,2010-09-21 09:56:00,"-12,1275637","-77,02642288",2010-09-21 10:18:00,"-12,10529838","-77,04735249",drop off,"-12,12605017","-77,01882491",2010-09-21 10:05:00,Android,0.0,0.0
23109,7073883383b89ad289e864022150cdd7,c0ffb6f6cd801004dd8609c12277c2d1,56f59b58bcbbd1cdabc3652e713134c2,924d4f0e7554566623e8ebb3904a7b0c,executive,reserved,2010-04-29 04:30:00,"-12,019468","-77,1077669",2010-04-29 05:11:00,"-12,09909987","-77,03475013",drop off,"-12,0710933","-77,09855131",2010-04-29 04:23:00,Android,NaN,5.0
23110,b7dea45c3cc92b9efd5a4905e69ff9bf,c0ffb6f6cd801004dd8609c12277c2d1,924d4f0e7554566623e8ebb390491d08,924d4f0e7554566623e8ebb390491492,executive,asap,2010-03-16 19:58:00,"-12,1334974","-77,0272581",2010-03-16 20:02:00,"-12,029174","-76,93977",rider cancel,"-12,09586711","-77,07372552",NaN,web,NaN,NaN

In [13]:
df.dtypes

journey_id           object
user_id              object
driver_id            object
taxi_id              object
icon                 object
start_type           object
start_at             object
start_lat            object
start_lon            object
end_at               object
end_lat              object
end_lon              object
end_state            object
driver_start_lat     object
driver_start_lon     object
arrived_at           object
source               object
driver_score        float64
rider_score         float64
dtype: object

In [52]:
df['driver_score'] = df['driver_score']. fillna (0)
df['rider_score'] = df['rider_score']. fillna (0)
df

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,"-12,05537033","-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0
4,85b7eabcf5d84e42dc7629b7d27781af,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,reserved,2010-09-11 23:55:00,"-12,08995438","-76,92626953",2010-09-12 01:07:00,"-12,02223206","-77,10638428",drop off,"-12,08311558","-76,9277072",2010-09-11 23:50:00,iPhone,4.0,5.0
5,2254715f0f569e3173ec61f16cbb8341,56772d544fdfa589a020a1ff894a86f7,baacf396f773709519bbde35a5eab861,baacf396f773709519bbde35a585d91b,executive,reserved,2010-08-10 13:00:00,"-12,02241898","-77,10650635",2010-08-10 14:26:00,"-12,08980179","-76,92608643",drop off,"-12,01706754","-77,05986526",2010-08-10 12:53:00,iPhone,0.0,4.0
6,12432d83b49393bf25164673212b8295,56772d544fdfa589a020a1ff894a86f7,e1332f68e81526e498e4d845233a6d7d,e1332f68e81526e498e4d845235baf80,executive,reserved,2010-08-08 12:10:00,"-12,08995819","-76,9262085",2010-08-08 12:48:00,"-12,02152252","-77,10623169",drop off,"-12,08509125","-76,96944424",2010-08-08 12:01:00,iPhone,5.0,5.0
7,2e51db3a8a77aa594aa686ff19fe6036,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,asap,2010-05-16 03:58:00,"-12,11347198","-77,04385376",2010-05-16 04:40:00,"-12,09108734","-76,92266846",drop off,"-12,10828994","-77,03530221",2010-05-16 04:06:00,iPhone,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23105,a7b77e5e6e60dc427d96d8d22ac91032,35e7f74c2fbd27db816811036af892e5,406921adcca37705ef527b4246c19db3,406921adcca37705ef527b4246c1a5c6,executive,asap,2010-01-15 20:09:00,"-12,0931795","-77,0716318",2010-01-15 20:51:00,"-12,1215588","-77,0209282",drop off,"-12,0467602","-77,04579661",2010-01-15 20:29:00,web,0.0,5.0
23106,4a18ea5737ce0ffecaf20b305a0e2c86,8998bb370b5f0cec43a373adebba0c72,d665fb9f75ef5d9cd0fd89479380ba78,16cbe35db7fff70fbc8251b4cda9fdc9,executive,reserved,2010-07-31 13:15:00,"-12,08974075","-77,04699707",2010-07-31 13:27:00,"-12,08352661","-77,05044556",drop off,"-12,08973527","-77,04787016",2010-07-31 13:15:00,iPhone,5.0,5.0
23107,f1e4317f2c17991dd90d1cd17ae0d399,5f8a6ffef0ea5df78a8ee890267b60ec,17c21284245ff240c7212732991c2373,716a697375634f32a06d692b0448f13d,executive,asap,2010-10-02 05:26:00,"-12,09253011","-77,02875271",2010-10-02 05:56:00,"-12,07776001","-77,05623798",drop off,"-12,10639693","-77,04028948",2010-10-02 05:39:00,Android,0.0,5.0
23108,1e44c0fd0a266c3719ff30410b257bce,c0ffb6f6cd801004dd8609c12277c2d1,4851ee4c867c9b49b909c1adb76c31e9,4851ee4c867c9b49b909c1adb76c538e,executive,asap,2010-09-21 09:56:00,"-12,1275637","-77,02642288",2010-09-21 10:18:00,"-12,10529838","-77,04735249",drop off,"-12,12605017","-77,01882491",2010-09-21 10:05:00,Android,0.0,0.0
23109,7073883383b89ad289e864022150cdd7,c0ffb6f6cd801004dd8609c12277c2d1,56f59b58bcbbd1cdabc3652e713134c2,924d4f0e7554566623e8ebb3904a7b0c,executive,reserved,2010-04-29 04:30:00,"-12,019468","-77,1077669",2010-04-29 05:11:00,"-12,09909987","-77,03475013",drop off,"-12,0710933","-77,09855131",2010-04-29 04:23:00,Android,0.0,5.0

In [67]:
df = df[(df.end_state != 'not found') & (df.end_state != 'rider cancel') & (df.end_state != 'driver cancel')]
df

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,"-12,05537033","-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0
4,85b7eabcf5d84e42dc7629b7d27781af,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,reserved,2010-09-11 23:55:00,"-12,08995438","-76,92626953",2010-09-12 01:07:00,"-12,02223206","-77,10638428",drop off,"-12,08311558","-76,9277072",2010-09-11 23:50:00,iPhone,4.0,5.0
5,2254715f0f569e3173ec61f16cbb8341,56772d544fdfa589a020a1ff894a86f7,baacf396f773709519bbde35a5eab861,baacf396f773709519bbde35a585d91b,executive,reserved,2010-08-10 13:00:00,"-12,02241898","-77,10650635",2010-08-10 14:26:00,"-12,08980179","-76,92608643",drop off,"-12,01706754","-77,05986526",2010-08-10 12:53:00,iPhone,NaN,4.0
6,12432d83b49393bf25164673212b8295,56772d544fdfa589a020a1ff894a86f7,e1332f68e81526e498e4d845233a6d7d,e1332f68e81526e498e4d845235baf80,executive,reserved,2010-08-08 12:10:00,"-12,08995819","-76,9262085",2010-08-08 12:48:00,"-12,02152252","-77,10623169",drop off,"-12,08509125","-76,96944424",2010-08-08 12:01:00,iPhone,5.0,5.0
7,2e51db3a8a77aa594aa686ff19fe6036,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,asap,2010-05-16 03:58:00,"-12,11347198","-77,04385376",2010-05-16 04:40:00,"-12,09108734","-76,92266846",drop off,"-12,10828994","-77,03530221",2010-05-16 04:06:00,iPhone,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23105,a7b77e5e6e60dc427d96d8d22ac91032,35e7f74c2fbd27db816811036af892e5,406921adcca37705ef527b4246c19db3,406921adcca37705ef527b4246c1a5c6,executive,asap,2010-01-15 20:09:00,"-12,0931795","-77,0716318",2010-01-15 20:51:00,"-12,1215588","-77,0209282",drop off,"-12,0467602","-77,04579661",2010-01-15 20:29:00,web,NaN,5.0
23106,4a18ea5737ce0ffecaf20b305a0e2c86,8998bb370b5f0cec43a373adebba0c72,d665fb9f75ef5d9cd0fd89479380ba78,16cbe35db7fff70fbc8251b4cda9fdc9,executive,reserved,2010-07-31 13:15:00,"-12,08974075","-77,04699707",2010-07-31 13:27:00,"-12,08352661","-77,05044556",drop off,"-12,08973527","-77,04787016",2010-07-31 13:15:00,iPhone,5.0,5.0
23107,f1e4317f2c17991dd90d1cd17ae0d399,5f8a6ffef0ea5df78a8ee890267b60ec,17c21284245ff240c7212732991c2373,716a697375634f32a06d692b0448f13d,executive,asap,2010-10-02 05:26:00,"-12,09253011","-77,02875271",2010-10-02 05:56:00,"-12,07776001","-77,05623798",drop off,"-12,10639693","-77,04028948",2010-10-02 05:39:00,Android,NaN,5.0
23108,1e44c0fd0a266c3719ff30410b257bce,c0ffb6f6cd801004dd8609c12277c2d1,4851ee4c867c9b49b909c1adb76c31e9,4851ee4c867c9b49b909c1adb76c538e,executive,asap,2010-09-21 09:56:00,"-12,1275637","-77,02642288",2010-09-21 10:18:00,"-12,10529838","-77,04735249",drop off,"-12,12605017","-77,01882491",2010-09-21 10:05:00,Android,0.0,0.0
23109,7073883383b89ad289e864022150cdd7,c0ffb6f6cd801004dd8609c12277c2d1,56f59b58bcbbd1cdabc3652e713134c2,924d4f0e7554566623e8ebb3904a7b0c,executive,reserved,2010-04-29 04:30:00,"-12,019468","-77,1077669",2010-04-29 05:11:00,"-12,09909987","-77,03475013",drop off,"-12,0710933","-77,09855131",2010-04-29 04:23:00,Android,NaN,5.0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23111 entries, 0 to 23110
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   journey_id        23111 non-null  object
 1   user_id           23111 non-null  object
 2   driver_id         19726 non-null  object
 3   taxi_id           19726 non-null  object
 4   icon              23111 non-null  object
 5   start_type        23111 non-null  object
 6   start_at          23111 non-null  object
 7   start_lat         23111 non-null  object
 8   start_lon         23111 non-null  object
 9   end_at            22835 non-null  object
 10  end_lat           23111 non-null  object
 11  end_lon           23111 non-null  object
 12  end_state         23099 non-null  object
 13  driver_start_lat  19621 non-null  object
 14  driver_start_lon  19621 non-null  object
 15  arrived_at        17716 non-null  object
 16  source            22988 non-null  object
 17  driver_score      7650 non-null   float64
 18  rider_score       15390 non-null  float64
dtypes: float64(2), object(17)
memory usage: 3.4+ MB

In [63]:
Sort = df.query("`rider_score` >= 0.0")
a = Sort.groupby(['driver_id']).agg({'journey_id':'count', 'rider_score':'mean'})
a.sort_values(by=['journey_id', 'rider_score'], ascending=[False, False]).round(2)

                                  journey_id  rider_score
driver_id
c814db2127582cf95dea1f74f43127c2        1369         4.58
d665fb9f75ef5d9cd0fd89479380ba78        1101         4.33
ff5c924e0b630fd7c019a4234059fdf4         976         4.05
406921adcca37705ef527b4246c0cfea         937         4.37
ec84a73745199ff840ecafcb924383ad         873         4.46
...                                      ...          ...
bf0f0845b5094fda2fcdac195ece97ad           1         5.00
bf0f0845b5094fda2fcdac195eef3511           1         5.00
ef35302138c34b70ddbeb9a52255be1c           1         5.00
af07f9929390d66edf63ab7ee480273c           1         0.00
b3ba9cda1b124b4fdc5d639f2416a9ca           1         0.00

[166 rows x 2 columns]

In [74]:

a = df.groupby(['user_id']).agg({'taxi_id':'count', 'driver_id':'count'})
a.sort_values(by=['taxi_id', 'driver_id'], ascending=[False, False]).head(5)

                                  taxi_id  driver_id
user_id
ae06c34243f741e203e97c48eb42017b      447        447
a86c8d399be95a32f795a8a9887127b9      434        434
8ed36e0e9dbf62743c06c09e5f7c1835      416        416
8e37a68fab5f31a5e2c1b5f77c6bb9e5      376        376
406921adcca37705ef527b4246c12e83      343        343

In [29]:
df.taxi_id.unique().shape

(211,)

In [17]:
df.driver_id.unique().shape

(167,)

In [56]:
a = df.groupby(['driver_id']).agg({'taxi_id':pd.Series.nunique, 'user_id':'count', 'driver_score':'max', 'journey_id':'count'})
a.sort_values(by=['driver_score', 'journey_id', 'user_id'], ascending=[False, False, False])

                                  taxi_id  user_id  driver_score  journey_id
driver_id
c814db2127582cf95dea1f74f43127c2        3     1369           5.0        1369
d665fb9f75ef5d9cd0fd89479380ba78        2     1101           5.0        1101
ff5c924e0b630fd7c019a4234059fdf4        2      976           5.0         976
406921adcca37705ef527b4246c0cfea        2      937           5.0         937
ec84a73745199ff840ecafcb924383ad        2      873           5.0         873
...                                   ...      ...           ...         ...
ab90a1bf4289d96e78d4a47d7cc2cd22        1        1           0.0           1
af07f9929390d66edf63ab7ee480273c        1        1           0.0           1
b3ba9cda1b124b4fdc5d639f2416a9ca        1        1           0.0           1
bf0f0845b5094fda2fcdac195eef3511        1        1           0.0           1
ef35302138c34b70ddbeb9a52255be1c        1        1           0.0           1

[166 rows x 4 columns]

In [47]:
??pd.Series.nunique

Signature: pd.Series.nunique(self, dropna: 'bool' = True) -> 'int'
Source:
    def nunique(self, dropna: bool = True) -> int:
        """
        Return number of unique elements in the object.

        Excludes NA values by default.

        Parameters
        ----------
        dropna : bool, default True
            Don't include NaN in the count.

        Returns
        -------
        int

        See Also
        --------
        DataFrame.nunique: Method nunique for DataFrame.
        Series.count: Count non-NA/null observations in the Series.

        Examples
        --------
        >>> s = pd.Series([1, 3, 5, 7, 7])
        >>> s
        0    1
        1    3
        2    5
        3    7
        4    7
        dtype: int64

        >>> s.nunique()
        4
        """
        uniqs = self.unique()
        if dropna:
            uniqs = remove_na_arraylike(uniqs)
        return len(uniqs)
File:      c:\users\youca\appdata\local\programs\python\python310\lib\site-packages\pandas\core\base.py
Type:      function