In [1]:
import pandas as pd
df = pd.read_csv('bookings.csv', encoding = 'Windows-1251', delimiter=';')
df

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [7]:
df.shape

(119390, 21)

In [6]:
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [11]:
first14 = df.head(14)
first14

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-06-23
11,Resort Hotel,0,35,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,HB,PRT,D,D,Transient,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,2,1.0,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05

In [15]:
df['Hotel'].value_counts(normalize=True)

City Hotel      0.664461
Resort Hotel    0.335539
Name: Hotel, dtype: float64

In [25]:
df['Is Canceled'].mean(axis=0)

0.37041628277075134

In [6]:

df.groupby(['Country']).agg({'Is Canceled':'sum'}).sort_values('Is Canceled', ascending = False).head(1)

         Is Canceled
Country
PRT            27519

In [81]:
df.query("`Country` == 'GBR' and `Arrival Date Year` == 2016 and `Meal` != 'Undefined'")['Meal'].value_counts().idxmax()

'BB'

In [78]:
Sort = df[(df['Hotel'] == "Resort Hotel") & (df["Country"] == "PRT")]
Sort.groupby(['Arrival Date Month', 'Arrival Date Year']).agg({'Is Canceled':'sum'}).sort_values(['Is Canceled'], ascending=[False]).head(1)

                                      Is Canceled
Arrival Date Month Arrival Date Year
April              2016                       444

In [18]:
Sort = df.query("`Hotel` == 'Resort Hotel' and `Is Canceled` == 1 and `Arrival Date Year` == 2016 ")
Sort.groupby(['Arrival Date Month', 'Arrival Date Year']).agg({'Is Canceled':['sum']})

                  Is Canceled
                          sum
Arrival Date Year
2016                     4930

In [38]:
Sort = df.query("`Hotel` == 'Resort Hotel' and `Arrival Date Year` == 2015")
a = Sort.groupby(['Arrival Date Year','Arrival Date Month']).agg({'Is Canceled':'sum',})
a.sort_values(by=[ 'Is Canceled'], ascending=[False]).head(1)

                                      Is Canceled
Arrival Date Year Arrival Date Month
2015              September                   551

In [28]:
Sort = df.query("`Hotel` == 'Resort Hotel' and `Arrival Date Year` == 2016")
a = Sort.groupby(['Arrival Date Year','Arrival Date Month']).agg({'Is Canceled':'sum',})
a.sort_values(by=[ 'Is Canceled'], ascending=[False]).head(1)

                                      Is Canceled
Arrival Date Year Arrival Date Month
2016              August                      578

In [33]:
Sort = df.query("`Hotel` == 'Resort Hotel' and `Arrival Date Year` == 2017")
a = Sort.groupby(['Arrival Date Year','Arrival Date Month']).agg({'Is Canceled':'sum',})
a.sort_values(by=[ 'Is Canceled'], ascending=[False]).head(1)

                                      Is Canceled
Arrival Date Year Arrival Date Month
2017              August                      693

In [18]:
Sort = df.query("`Children` == 0.0 and `Arrival Date Year` == 2015 and `Is Canceled` != 1")
a = Sort.groupby(['Country']).agg({'Children':'count',})
a.sort_values(by=['Children'], ascending=[False]).head(5)

         Children
Country
PRT          5377
ESP          1695
FRA          1265
GBR          1199
DEU           511

In [42]:
df['Total Kids'] = df['Children'] + df['Babies']
df['Total Kids']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: Total Kids, Length: 119390, dtype: float64

In [58]:
Sort = df.query("`Total Kids` != 0.0")
a = Sort.groupby(['Country']).agg({'Total Kids':'mean',})
a.sort_values(by=['Total Kids'], ascending=[False]).head(5)

         Total Kids
Country
MKD             3.0
ARM             3.0
ZMB             2.0
JEY             2.0
DJI             2.0